@page
@model DataBroker.Views.Home.PolicyModel
@{
    ViewData["Title"] = "Data Sharing Polcies";
}

<h1>Manage your data sharing policies</h1>

<div class="row">
    <div class="col">

    </div>
</div>