@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is the Data Broker, where you can share your health data with researchers and organisations
        and make profit while assisting a good cause!
    </p>
</div>
