@model DataCustodianModel

@{
    ViewData["Title"] = "BCC";
}

<form method="post" action="/Home/CustodianSelection">
    <label>Wallet ID</label>
    <input asp-for="Input.Wallet_ID" class="form-control" />
    <br />
    <label>API key</label>
    <input asp-for="Input.APIKey" class="form-control" />
    <br />
    <label>Broker ID</label>
    <input asp-for="Input.BrokerID" class="form-control" onkeyup="IntegerOnly(this)"/>
    <br />
    <button type="submit">Submit</button>
</form>