@model DataCustodianModel

@{
    ViewData["Title"] = "BCC";
   
    var createInfo = ViewData["CreateInfo"] as PolicyCreation;
}

<label>Access Token</label>
<input class="form-control" value=@createInfo.AccessToken readonly />

<label>Complete</label>