@{
    Layout = "/Views/Shared/_LayoutWithoutNavBar.cshtml";
    ViewData["Title"] = "Redirecting";
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="0; url=@ViewBag.RedirectUrl" />
    <style>
        .container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .vertical-center {
          min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
          min-height: 100vh; /* These two lines are counted as one :-)       */
        
          display: flex;
          align-items: center;
        }
    </style>
</head>
<body>
<div class="container vertical-center text-center">
    <div>
        <div class="spinner-grow text-info" style="width: 10rem; height: 10rem;" role="status">
        </div>
        <div class="h3 mt-5 text-info">Redirecting you to our authorisation page... </div>
    </div>
</div>
</body>
</html>